volumes:
    postgres_data:
    mailpit_data:
    caddy_data:
    caddy_config:

services:
    web:
        image: ghcr.io/thedevs-cz/php:8.5
        restart: unless-stopped
        tty: true
        stdin_open: true
        volumes:
            - .:/app
            - ./.docker/on-startup.sh:/docker-entrypoint.d/on-startup.sh
            - caddy_data:/data
            - caddy_config:/config
        depends_on:
            - postgres
        ports:
            - "8080:80"
        environment:
            FRANKENPHP_WORKER: "1"
            FRANKENPHP_WATCH: "1"
            XDEBUG_CONFIG: "client_host=host.docker.internal"
            XDEBUG_MODE: debug
            PHP_IDE_CONFIG: "serverName=localhost"

    postgres:
        image: postgres:17
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: fajnesklady
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 10s
            timeout: 5s
            retries: 5

    mailpit:
        image: axllent/mailpit
        ports:
            - "1025:1025"
            - "8025:8025"
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
            MP_DATABASE: "/data/mailpit.db"
        volumes:
            - mailpit_data:/data

    adminer:
        image: adminer:5.4.1
        ports:
            - "8000:8080"
        environment:
            ADMINER_DEFAULT_SERVER: postgres
        depends_on:
            - postgres
