<button type="button"
        data-ares-lookup-target="button"
        data-action="click->ares-lookup#lookup"
        class="btn btn-secondary whitespace-nowrap rounded-l-none!">
    Načíst z ARES
</button>
