<footer class="bg-white border-t border-gray-200">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-gray-900">
                Fajné Sklady
            </p>
            <p class="mt-2 text-sm text-gray-500">
                Copyright © {{ 'now'|date('Y') }} - All rights reserved
            </p>
            <div class="mt-4 flex justify-center space-x-6">
                <a href="{{ path('app_home') }}" class="link text-sm">Home</a>
                {% if not app.user %}
                    <a href="{{ path('app_login') }}" class="link text-sm">Login</a>
                    <a href="{{ path('app_register') }}" class="link text-sm">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>
