{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    {% block hero %}{% endblock %}

    <main class="{% block main_class %}container mx-auto px-4 py-8 pt-24{% endblock %} min-h-screen">
        {% include 'components/flash_messages.html.twig' %}

        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}
{% endblock %}
