{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <main class="container mx-auto px-4 py-8 min-h-screen">
        {% include 'components/flash_messages.html.twig' %}

        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}
{% endblock %}
